{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Магазин AutoWolk работает на рынке автопринадлежностей и автоаксессуаров Пскова с 2009 года.
Начал свое существование с простого стола заказов в офисном помещении и уже тогда мы были рады предложить своим клиентам профильные
для нас товары по очень привлекательным ценам - коврики в салон и багажник, багажники на крышу, фаркопы.<br />
Со временем в ассортимент магазина добавилось много различных полезных "допов" и принадлежностей для автомобиля,
среди которых: дефлекторы окон и капота, авточехлы, накладки из полированной нержавейки на пороги дверей,
различный обвес и тюнинг из нержавеющей стали на городские внедорожники - защитные трубы, пороги и ступени, хром-накладки и хром-пакеты.<br />
С декабря 2013 года магазин AutoWolk - это 60 квадратных метров торговой площади по адресу г. Псков, ул. Юрия Гагарина, дом 13В.
В продаже появились автозапчасти, фильтра, масла и техжидкости, лампочки всех цоколей и различных производителей, видеорегистраторы
и радар-детекторы, автохолодильники, аксессуары для салона (держатели очков, напитков, телефонов) и многое другое.<br />
Отличительная особенность нашей работы с первого дня - это возможность и желание удовлетворить любые нестандартные запросы клиента
по приемлемой цене на уровне Москвы и Петербурга, единственное условие - это тематика связанная с авто и мото. Если у вас есть необходимость
в чем либо для вашего автомобиля, квадроцикла, мотоцикла - обратитесь к нам, мы будем рады помочь, найдем варианты, даже если этого товара
в настоящее время нет в нашем ассортименте.</p>

{% endblock %}
